
header {
    background-color: black;
    color: white;
    text-align:center;
    padding:1px;
}

nav{
    background-color: white;
}

nav ul {
    list-style: none;
    background-color: blue;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav li {

    padding: 8px;
  /*
  font-family: 'Arial', sans-serif;  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  */
}

nav li {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}


nav a {
  text-decoration: none;
  color: white;
  display: block;
  /* transition: .3s background-color; */
}
 
nav a:hover {
  background-color: yellow;
  color: black;
}
 
nav a.active {
  background-color: lightblue;
  color: #444;
}

nav li {
  border-right: 1px solid darkblue;
}

header  {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    height: 2000px;
    background-color: red;
    background-image: greenbackground.jpg;
    background-size: 100% auto;
    background-position: top center;
    background-attachment: fixed;
    }

body {
    height: 100%;
    background-image: linear-gradient(hsl(10,90,66), transparent 70%);
    background-size: 100% 100%;
    mix-blend-mode: difference;
    }